<h4>Search For Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchNotesResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Note Title</h5>
                <!-- <label name="NoteTitle" class="control-label"></label> -->
                <input name="NoteTitle" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>